In [182]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
import findspark
findspark.init()

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Pedidos") \
    .config('spark.ui.port', '4050') \
    .getOrCreate()

In [183]:
spark

Dados do pedido

In [184]:
path = './arquivos/olist_orders_dataset.csv'
df_pedidos = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [185]:
df_pedidos = df_pedidos\
    .select('order_id', 'customer_id', 'order_purchase_timestamp')\
    .filter(df_pedidos['order_status'].like('%delivered%'))

In [186]:
df_pedidos.limit(5).toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,order_id,customer_id,order_purchase_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39

dados do cliente

In [187]:
path = './arquivos/olist_customers_dataset.csv'
df_clientes = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [188]:
df_clientes = df_clientes\
    .select('customer_id', 'customer_city', 'customer_state')

In [189]:
df_clientes.limit(5).toPandas()

                        customer_id          customer_city customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1  18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2  4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3  b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP

In [190]:
df_pedidos = df_pedidos.join(df_clientes, 'customer_id', how='inner')\
    .sort('customer_id')

dados de pagamentos

In [191]:
path = './arquivos/olist_order_payments_dataset.csv'
df_pagamentos = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [192]:
df_pagamentos.limit(5).toPandas()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [193]:
df_pedidos = df_pedidos.join(df_pagamentos, 'order_id', how='inner')\
    .sort('order_id')

dados dos itens do pedido

In [194]:
path = './arquivos/olist_order_items_dataset.csv'
df_pedidos_itens = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [195]:
df_pedidos_itens.limit(5).toPandas()
df_pedidos = df_pedidos.join(df_pedidos_itens, 'order_id', how='inner')\
    .sort('order_id')

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

dados do produtos

In [196]:
path = './arquivos/olist_products_dataset.csv'
df_produtos = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [197]:

df_produtos = df_produtos\
    .select('product_id', 'product_category_name')
df_produtos.limit(5).toPandas()

                         product_id  product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

In [198]:
df_pedidos = df_pedidos.join(df_produtos, 'product_id', how='inner')
df_pedidos.limit(5).toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,product_id,order_id,customer_id,order_purchase_timestamp,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,order_item_id,seller_id,shipping_limit_date,price,freight_value,product_category_name
0,08279c494018541f71443c07d77560f8,0032d07457ae9c806c79368d7d9ce96b,d356c20816dc75a309628b5c17d89468,2018-03-10 18:53:06,rio de janeiro,RJ,1,credit_card,2,186.19,1,e333046ce6517bd8bb510291d44f0130,2018-03-15 19:28:51,159.00,27.19,utilidades_domesticas
1,9545d45c37449ccbc376de3a04c66e71,0045e3085f083f0f38d24bb3f22e6593,eb729faa993caad20442243265804a7c,2017-08-10 16:13:36,sao jose dos campos,SP,1,credit_card,3,130.74,1,431af27f296bc6519d890aa5a05fdb11,2017-08-17 07:15:16,116.90,13.84,beleza_saude
2,19421075ae0b585f2dc13ff149e2119d,0079bca8e89bd52fdb87408e4f3fb94d,137f50d5bfbcfb9578c50605cc9adb16,2018-05-03 18:55:20,sao paulo,SP,1,boleto,1,57.29,1,4c2b230173bb36f9b240f2b8ac11786e,2018-05-10 03:31:09,49.90,7.39,esporte_lazer
3,e819fddd6622f30e872bfc89471c1408,007ff0b0f79be782f633fc3b18cbe337,fc021f2dd664b49455528422c77b6aab,2018-02-03 17:46:53,belo horizonte,MG,1,credit_card,1,55.11,1,7139dc5186aa238b006e066d8fbab2e4,2018-02-08 20:10:10,39.00,16.11,moveis_decoracao
4,d64e758afad411049a45e42c9a259241,0094bd07f49fed90209ffa62d1ef26d6,de0c1a4d8c367c58d66e61dfa379f4cf,2018-05-01 02:04:16,praia grande,SP,1,boleto,1,18.92,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-05-09 04:12:53,11.53,7.39,perfumaria

dados vendedor

In [199]:
path = './arquivos/olist_sellers_dataset.csv'
df_vendedor  = spark.read.csv(path, sep=',', inferSchema=True, header=True)

In [200]:
df_vendedor = df_vendedor\
    .select('seller_id', 'seller_city',  'seller_state')

In [201]:
df_pedidos = df_pedidos.join(df_vendedor, 'seller_id', how='inner')
df_pedidos.limit(5).toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,seller_id,product_id,order_id,customer_id,order_purchase_timestamp,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,order_item_id,shipping_limit_date,price,freight_value,product_category_name,seller_city,seller_state
0,e333046ce6517bd8bb510291d44f0130,08279c494018541f71443c07d77560f8,0032d07457ae9c806c79368d7d9ce96b,d356c20816dc75a309628b5c17d89468,2018-03-10 18:53:06,rio de janeiro,RJ,1,credit_card,2,186.19,1,2018-03-15 19:28:51,159.00,27.19,utilidades_domesticas,ipaussu,SP
1,431af27f296bc6519d890aa5a05fdb11,9545d45c37449ccbc376de3a04c66e71,0045e3085f083f0f38d24bb3f22e6593,eb729faa993caad20442243265804a7c,2017-08-10 16:13:36,sao jose dos campos,SP,1,credit_card,3,130.74,1,2017-08-17 07:15:16,116.90,13.84,beleza_saude,ribeirao preto,SP
2,4c2b230173bb36f9b240f2b8ac11786e,19421075ae0b585f2dc13ff149e2119d,0079bca8e89bd52fdb87408e4f3fb94d,137f50d5bfbcfb9578c50605cc9adb16,2018-05-03 18:55:20,sao paulo,SP,1,boleto,1,57.29,1,2018-05-10 03:31:09,49.90,7.39,esporte_lazer,sao paulo,SP
3,7139dc5186aa238b006e066d8fbab2e4,e819fddd6622f30e872bfc89471c1408,007ff0b0f79be782f633fc3b18cbe337,fc021f2dd664b49455528422c77b6aab,2018-02-03 17:46:53,belo horizonte,MG,1,credit_card,1,55.11,1,2018-02-08 20:10:10,39.00,16.11,moveis_decoracao,amparo,SP
4,5670f4db5b62c43d542e1b2d56b0cf7c,d64e758afad411049a45e42c9a259241,0094bd07f49fed90209ffa62d1ef26d6,de0c1a4d8c367c58d66e61dfa379f4cf,2018-05-01 02:04:16,praia grande,SP,1,boleto,1,18.92,1,2018-05-09 04:12:53,11.53,7.39,perfumaria,sao paulo,SP

In [202]:
df_pedidos.select([f.count(f.when(f.isnull(c), 1)).alias(c) for c in df_pedidos.columns]).show()

+---------+----------+--------+-----------+------------------------+-------------+--------------+------------------+------------+--------------------+-------------+-------------+-------------------+-----+-------------+---------------------+-----------+------------+
|seller_id|product_id|order_id|customer_id|order_purchase_timestamp|customer_city|customer_state|payment_sequential|payment_type|payment_installments|payment_value|order_item_id|shipping_limit_date|price|freight_value|product_category_name|seller_city|seller_state|
+---------+----------+--------+-----------+------------------------+-------------+--------------+------------------+------------+--------------------+-------------+-------------+-------------------+-----+-------------+---------------------+-----------+------------+
|        0|         0|       0|          0|                       0|            0|             0|                 0|           0|                   0|            0|            0|                  0|    0|            0|                 1628|          0|           0|
+---------+----------+--------+-----------+------------------------+-------------+--------------+------------------+------------+--------------------+-------------+-------------+-------------------+-----+-------------+---------------------+-----------+------------+

In [203]:
df_pedidos.count()

115035

In [204]:
df_pedidos.select([f.when(f.isnull('product_category_name'), 1).alias('product_category_name2'), '*'] )\
    .where("product_category_name2==1").show()

+----------------------+--------------------+--------------------+--------------------+--------------------+------------------------+-------------------+--------------+------------------+------------+--------------------+-------------+-------------+-------------------+------+-------------+---------------------+--------------------+------------+
|product_category_name2|           seller_id|          product_id|            order_id|         customer_id|order_purchase_timestamp|      customer_city|customer_state|payment_sequential|payment_type|payment_installments|payment_value|order_item_id|shipping_limit_date| price|freight_value|product_category_name|         seller_city|seller_state|
+----------------------+--------------------+--------------------+--------------------+--------------------+------------------------+-------------------+--------------+------------------+------------+--------------------+-------------+-------------+-------------------+------+-------------+---------------------+--------------------+------------+
|                     1|0c8380b62e38e8a1e...|fbb1cfc2810efabf3...|00ed64bc080d87b4a...|3e49d94c6d8ad4a1f...|     2017-05-30 18:18:36|     rio de janeiro|            RJ|                 1| credit_card|                   1|        61.01|            1|2017-06-06 18:22:47|  44.9|        16.11|                 null|       tres coracoes|          MG|
|                     1|c826c40d7b19f62a0...|4914f8796af2ecd35...|03ba96e3cd1a918f1...|d7536a1f7bb487644...|     2017-11-29 21:40:21|          sao paulo|            SP|                 1| credit_card|                   2|        57.55|            1|2017-12-05 21:56:50| 49.77|         7.78|                 null|           guarulhos|          SP|
|                     1|dd7ddc04e1b6c2c61...|0c877471e35049402...|05bd0df2a2f8b3719...|bd28fb21b93201afe...|     2017-12-05 09:21:51|             araras|            SP|                 2|     voucher|                   1|         50.0|            1|2017-12-11 10:48:16|  84.9|         30.9|                 null|           sao paulo|          SP|
|                     1|dd7ddc04e1b6c2c61...|0c877471e35049402...|05bd0df2a2f8b3719...|bd28fb21b93201afe...|     2017-12-05 09:21:51|             araras|            SP|                 1| credit_card|                   1|         65.8|            1|2017-12-11 10:48:16|  84.9|         30.9|                 null|           sao paulo|          SP|
|                     1|c826c40d7b19f62a0...|0502d1a36be75bd36...|0a7a3bb3bfcebd9e8...|9466322b97e1ac6b4...|     2018-01-23 22:32:24| fazenda rio grande|            PR|                 1| credit_card|                   1|        84.01|            1|2018-01-29 22:53:19| 69.77|        14.24|                 null|           guarulhos|          SP|
|                     1|25c5c91f63607446a...|b8c2cf7e813b0eb7e...|0de497b1f069927c1...|49a385b4c7bfe2a0c...|     2017-07-11 11:56:29|          sao paulo|            SP|                 1| credit_card|                   1|       339.49|            1|2017-07-19 12:23:45| 320.0|        19.49|                 null|              itauna|          MG|
|                     1|116ccb1a1604bc88e...|9b13a7d2231847991...|0e58e440db9719a92...|7eb65253e071f9123...|     2017-11-23 18:20:53|     embu das artes|            SP|                 1|      boleto|                   1|        42.32|            1|2017-11-30 03:53:26| 34.54|         7.78|                 null|sao bernardo do c...|          SP|
|                     1|3771c85bac139d234...|f9b1795281ce51b1c...|0ec6d5153abc64611...|68d446727a2612521...|     2017-06-09 21:19:00|            taubate|            SP|                 1| credit_card|                   2|        51.75|            1|2017-06-14 21:30:11|  39.9|        11.85|                 null|            sorocaba|          SP|
|                     1|c0f783394e37cd9c9...|0082684bb4a60a862...|1e023f96b2ab8ba32...|c316d9222671b33a8...|     2017-11-10 13:49:38|  sao jose da barra|            MG|                 1| credit_card|                   3|         55.0|            1|2017-11-17 14:07:17|  39.9|         15.1|                 null|          piracicaba|          SP|
|                     1|b29d3380981c51df1...|93305944cf8bb41c6...|1f9ed60661469689d...|46853a08808655a71...|     2018-08-02 18:56:22|sao jose dos campos|            SP|                 1| credit_card|                   5|        70.88|            1|2018-08-08 19:10:22|  56.9|        13.98|                 null|      ribeirao preto|          SP|
|                     1|c157bdeedcbc9a8e3...|8a0c7c7b32d023b5c...|272e6f76eb38eeae9...|47f94098dc1adc156...|     2017-05-05 16:46:55|      florianopolis|            SC|                 1| credit_card|                   4|       115.73|            1|2017-05-12 16:55:16| 94.99|        20.74|                 null|           mairinque|          SP|
|                     1|c826c40d7b19f62a0...|5a848e4ab52fd5445...|27f80456be871c8bc...|00af1761df71da362...|     2017-11-28 18:00:54|           brasilia|            DF|                 1| credit_card|                   2|        137.6|            1|2017-12-04 18:16:37|122.99|        14.61|                 null|           guarulhos|          SP|
|                     1|c826c40d7b19f62a0...|5a848e4ab52fd5445...|30e1842e97acf7abf...|3d457252f3e67466b...|     2018-08-13 11:17:13|     rio de janeiro|            RJ|                 1| credit_card|                   3|       138.95|            1|2018-08-16 11:44:17|122.99|        15.96|                 null|           guarulhos|          SP|
|                     1|c826c40d7b19f62a0...|5a848e4ab52fd5445...|3316b67b63d43c414...|2e7ba3e122728f593...|     2018-03-22 00:13:47|            atibaia|            SP|                 1| credit_card|                   8|       131.62|            1|2018-03-28 00:28:19|122.99|         8.63|                 null|           guarulhos|          SP|
|                     1|f593898ec748b7a8c...|2ddbeb76f134690c0...|33b4e4420ddac9b1e...|8fd98a723350fb2ed...|     2018-01-04 14:54:25|            marilia|            SP|                 1| credit_card|                   1|        33.79|            1|2018-01-10 15:08:21|  21.1|        12.69|                 null|            pedreira|          SP|
|                     1|f0e103c63864d5405...|9575c58d6ba585658...|33f70271657afa8d0...|d87971ae8acd4eac7...|     2017-08-22 09:28:07|            atibaia|            SP|                 1| credit_card|                   4|       169.73|            1|2017-08-28 09:45:43| 159.8|         9.93|                 null|              osasco|          SP|
|                     1|63ffcb71394dd8ea3...|a4d8f727f92014da5...|36f63f07e3c52585c...|400083d12b8d97a4a...|     2017-02-05 13:58:46|     rio de janeiro|            RJ|                 1| credit_card|                   1|        37.93|            1|2017-02-11 13:58:46|  25.0|        12.93|                 null|            itaborai|          RJ|
|                     1|b274baf5bbd142410...|e621e5b4cac0fb8cf...|40e71e3ccbeb71706...|a325fd976bfd1f4dc...|     2018-07-19 10:36:27|          sao paulo|            SP|                 1| credit_card|                   8|        94.65|            1|2018-07-26 10:50:16|  79.0|        15.65|                 null|          montenegro|          RS|
|                     1|4e922959ae960d389...|5eb564652db742ff8...|415cfaaaa8cea49f9...|a8dff6357fea30071...|     2017-04-02 10:25:38|          arapongas|            PR|                 1| credit_card|                   1|        87.04|            1|2017-04-07 10:35:19|  29.0|        14.52|                 null|             jacarei|          SP|
|                     1|4e922959ae960d389...|5eb564652db742ff8...|415cfaaaa8cea49f9...|a8dff6357fea30071...|     2017-04-02 10:25:38|          arapongas|            PR|                 1| credit_card|                   1|        87.04|            2|2017-04-07 10:35:19|  29.0|        14.52|                 null|             jacarei|          SP|
+----------------------+--------------------+--------------------+--------------------+--------------------+------------------------+-------------------+--------------+------------------+------------+--------------------+-------------+-------------+-------------------+------+-------------+---------------------+--------------------+------------+
only showing top 20 rows

In [205]:
df_pedidos = df_pedidos.na.drop()

top 10 por estados

In [206]:
df_pedidos\
    .select('customer_state')\
    .groupBy('customer_state')\
    .count()\
    .orderBy('count', ascending = 0)\
    .show(10, truncate=False)

+--------------+-----+
|customer_state|count|
+--------------+-----+
|SP            |47840|
|RJ            |14651|
|MG            |13236|
|RS            |6288 |
|PR            |5790 |
|SC            |4160 |
|BA            |3859 |
|DF            |2389 |
|GO            |2319 |
|ES            |2288 |
+--------------+-----+
only showing top 10 rows

In [207]:
df_pedidos\
    .select('order_id', 'customer_city', 'customer_state')\
    .groupBy('customer_city')\
    .agg(
        f.count("order_id").alias("total_state")
        
    )\
    .orderBy('total_state', ascending = 0)\
    .show(truncate=False)

+---------------------+-----------+
|customer_city        |total_state|
+---------------------+-----------+
|sao paulo            |17867      |
|rio de janeiro       |7821       |
|belo horizonte       |3134       |
|brasilia             |2374       |
|curitiba             |1768       |
|campinas             |1686       |
|porto alegre         |1591       |
|salvador             |1435       |
|guarulhos            |1349       |
|sao bernardo do campo|1075       |
|niteroi              |1016       |
|santo andre          |888        |
|osasco               |860        |
|santos               |829        |
|goiania              |812        |
|sao jose dos campos  |780        |
|fortaleza            |720        |
|sorocaba             |705        |
|recife               |669        |
|florianopolis        |657        |
+---------------------+-----------+
only showing top 20 rows

In [208]:
df_pedidos\
    .select('order_id', 'customer_city', 'customer_state', 'product_category_name')\
    .groupBy('product_category_name','customer_city', 'customer_state')\
    .count()\
    .orderBy('count', ascending = 0)\
    .show(truncate=False)

+----------------------+--------------+--------------+-----+
|product_category_name |customer_city |customer_state|count|
+----------------------+--------------+--------------+-----+
|cama_mesa_banho       |sao paulo     |SP            |2111 |
|beleza_saude          |sao paulo     |SP            |1766 |
|esporte_lazer         |sao paulo     |SP            |1413 |
|utilidades_domesticas |sao paulo     |SP            |1368 |
|moveis_decoracao      |sao paulo     |SP            |1334 |
|informatica_acessorios|sao paulo     |SP            |1222 |
|cama_mesa_banho       |rio de janeiro|RJ            |881  |
|relogios_presentes    |sao paulo     |SP            |846  |
|brinquedos            |sao paulo     |SP            |662  |
|telefonia             |sao paulo     |SP            |635  |
|moveis_decoracao      |rio de janeiro|RJ            |631  |
|esporte_lazer         |rio de janeiro|RJ            |587  |
|beleza_saude          |rio de janeiro|RJ            |571  |
|automotivo            |sao paulo     |SP            |557  |
|perfumaria            |sao paulo     |SP            |547  |
|informatica_acessorios|rio de janeiro|RJ            |545  |
|bebes                 |sao paulo     |SP            |494  |
|utilidades_domesticas |rio de janeiro|RJ            |489  |
|ferramentas_jardim    |sao paulo     |SP            |478  |
|relogios_presentes    |rio de janeiro|RJ            |458  |
+----------------------+--------------+--------------+-----+
only showing top 20 rows

In [209]:
df_pedidos\
    .select('order_id', 'customer_city', 'customer_state', 'product_category_name')\
    .groupBy('product_category_name', 'customer_state')\
    .count()\
    .orderBy('count', ascending = 0)\
    .show(truncate=False)

+----------------------+--------------+-----+
|product_category_name |customer_state|count|
+----------------------+--------------+-----+
|cama_mesa_banho       |SP            |5491 |
|beleza_saude          |SP            |4246 |
|esporte_lazer         |SP            |3720 |
|moveis_decoracao      |SP            |3670 |
|utilidades_domesticas |SP            |3374 |
|informatica_acessorios|SP            |3165 |
|relogios_presentes    |SP            |2302 |
|automotivo            |SP            |1772 |
|cama_mesa_banho       |RJ            |1744 |
|brinquedos            |SP            |1729 |
|telefonia             |SP            |1680 |
|ferramentas_jardim    |SP            |1600 |
|perfumaria            |SP            |1493 |
|cool_stuff            |SP            |1421 |
|cama_mesa_banho       |MG            |1393 |
|bebes                 |SP            |1281 |
|moveis_decoracao      |RJ            |1114 |
|beleza_saude          |MG            |1084 |
|papelaria             |SP            |1084 |
|beleza_saude          |RJ            |1061 |
+----------------------+--------------+-----+
only showing top 20 rows

In [210]:
df_pedidos\
    .select('customer_id')\
    .groupBy('customer_id')\
    .count()\
    .where("count>1")\
    .orderBy('count', ascending = 0)\
    .show(truncate=False)

+--------------------------------+-----+
|customer_id                     |count|
+--------------------------------+-----+
|270c23a11d024a44c896d1894b261a83|63   |
|13aa59158da63ba0e93ec6ac2c07aacb|38   |
|92cd3ec6e2d643d4ebd0e3d6238f69e2|26   |
|86cc80fef09f7f39df4b0dbce48e81cb|24   |
|63b964e79dee32a3587651701a2b8dbf|24   |
|6ee2f17e3b6c33d6a9557f280edd2925|24   |
|d22f25a9fadfb1abbc2e29395b1239f4|24   |
|b246eeed30b362c09d867b9e598bee51|22   |
|50920f8cd0681fd86ebe93670c8fe52e|21   |
|fc3d1daec319d62d49bfb5e1f83123e9|21   |
|5e0f7317756669ff7b384444dbb81fa3|21   |
|be1b70680b9f9694d8c70f41fa3dc92b|20   |
|23924b2105c5376cd6204757c8b68752|20   |
|bd5d39761aa56689a265d95d8d32b8be|20   |
|eed931d3a5222a9a511d18be7fd2a5ba|19   |
|1d4411212e90d6a24fd2d09f74878b48|16   |
|42568702f6b7a0d94ad168a4b1dbe0eb|15   |
|adb32467ecc74b53576d9d13a5a55891|15   |
|1eebfdb7083031b40f727fb71f6cd5b2|15   |
|10de381f8a8d23fff822753305f71cae|15   |
+--------------------------------+-----+
only showing top 20 rows

In [211]:
df_pedidos\
    .select('payment_type', 'customer_city', 'customer_state')\
    .groupBy('payment_type', 'customer_city', 'customer_state')\
    .count()\
    .orderBy(['customer_state','count'], ascending = [1,0])\
    .show(truncate=False)

+------------+---------------------+--------------+-----+
|payment_type|customer_city        |customer_state|count|
+------------+---------------------+--------------+-----+
|credit_card |rio branco           |AC            |60   |
|boleto      |rio branco           |AC            |14   |
|voucher     |rio branco           |AC            |4    |
|credit_card |brasileia            |AC            |3    |
|boleto      |cruzeiro do sul      |AC            |2    |
|credit_card |xapuri               |AC            |2    |
|credit_card |senador guiomard     |AC            |2    |
|credit_card |epitaciolandia       |AC            |1    |
|credit_card |porto acre           |AC            |1    |
|debit_card  |senador guiomard     |AC            |1    |
|debit_card  |manoel urbano        |AC            |1    |
|voucher     |cruzeiro do sul      |AC            |1    |
|credit_card |maceio               |AL            |205  |
|boleto      |maceio               |AL            |40   |
|credit_card |arapiraca            |AL            |30   |
|voucher     |maceio               |AL            |11   |
|credit_card |palmeira dos indios  |AL            |9    |
|credit_card |penedo               |AL            |7    |
|credit_card |delmiro gouveia      |AL            |6    |
|credit_card |sao miguel dos campos|AL            |5    |
+------------+---------------------+--------------+-----+
only showing top 20 rows

In [212]:
df_pedidos\
    .select('payment_type',  'customer_state')\
    .groupBy('payment_type',  'customer_state')\
    .count()\
    .orderBy(['customer_state','count'], ascending = [1,0])\
    .show(truncate=False)

+------------+--------------+-----+
|payment_type|customer_state|count|
+------------+--------------+-----+
|credit_card |AC            |69   |
|boleto      |AC            |16   |
|voucher     |AC            |5    |
|debit_card  |AC            |2    |
|credit_card |AL            |354  |
|boleto      |AL            |67   |
|voucher     |AL            |13   |
|debit_card  |AL            |3    |
|credit_card |AM            |134  |
|boleto      |AM            |24   |
|voucher     |AM            |7    |
|debit_card  |AM            |2    |
|credit_card |AP            |57   |
|boleto      |AP            |23   |
|voucher     |AP            |3    |
|credit_card |BA            |2854 |
|boleto      |BA            |673  |
|voucher     |BA            |280  |
|debit_card  |BA            |52   |
|credit_card |CE            |1167 |
+------------+--------------+-----+
only showing top 20 rows